.page{
    background-image:url("../images/main.jpg");
    background-attachment: fixed;
    color: 	white; 
    
}

h1, h2, h3, h4 {
    margin-left: 100px;
    color: 	white;
}


.feloldal{
    background-color: black;
    font-family: 'IM Fell English';
    color: white;
}

shadow{
    box-shadow: 10px 20px 10px black;
}

.bg{
    background-image:url("../images/main.jpg");
    color: 	white;
}

.wrapper{ width: 360px; padding: 20px; font: 14px sans-serif; }

#navbarNav{
    font-family: 'Indie Flower';
    font-weight: bold;
}

.navbar{
    position: sticky;
    background-color: rgba(0, 0, 0, 0.884);
}

nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0);
  }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.koment{
    width: 50%;
    background-color: black;
    opacity: 0.7;
    color: white;
    font-size: x-large;
    margin-top: 0.3%;
}


.sch {
    display:block;
    margin: 0 15px 0 auto;
    width: 20%;
    -webkit-transition: width 0.6s ease-in;
    transition: width 0.6s ease-in;
    background-color: rgb(64, 64, 64);
    opacity: 0.7;
    border-radius: 15px;
}

.sch::before {
    content: \f52a;
}
.sch:focus {
    width: 100%;
  }
  

.comm{
    background-color: rgb(64, 64, 64);
    opacity: 0.7;
    border-radius: 20px;
    width: 50%;
    height: 3em;
    color: white;
}

.submit{
    background-color: rgb(64, 64, 64);
    opacity: 0.7;
    border-radius: 20px;
    width: 10%;
    height: 3em;
    color: white;
}

.star{
    font-size: xx-large;
}

.cim{
    font-family: 'IM Fell English';
    color: white;
    text-align: justify;
}
